body {
  background-color: #f2fafd;
  min-height: 100vh;
  font-family: 'Arial';
}

$baseColor: #7e27dc;

.container {
  width: 60%;
  margin: 0 auto
}

nav {
  background-color: $baseColor;
}

ul {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  list-style: none;
  width: 100%;
}

li {
  cursor: pointer;
}

a {
  display: block;
  padding: 1em 2em;
  color: white;
  text-decoration: none;
  justify-content: center;
  width: 100%;
  height: 100%;
  box-sizing: border-box;

  &:hover {
    background-color: lighten($baseColor, 20%);
  }
}

nav ul li:nth-child(3) a {
  background-color: darken($baseColor, 40%);
  font-weight: bold;
  
  &:hover {
    background-color: lighten($baseColor, 20%);
  }
}


@media (width <= 820px) {
  .container {
    width: 90%;
    margin: 0 auto
  }
  
  ul {
    display: block;
  }

  li {
    display: flex;
    justify-content: center;
  }

  a {
    display: flex;
    justify-content: center;
  }

  nav ul li:nth-child(1) a {
    background-color: darken($baseColor, 40%);
    font-weight: bold;
    
    &:hover {
      background-color: lighten($baseColor, 20%);
    }
  }

  nav ul li:nth-child(3) a {
    background-color: inherit;
    font-weight: normal;
    
    &:hover {
      background-color: lighten($baseColor, 20%);
    }
  }
}