body {
  background-color: #f2fafd;
  min-height: 100vh;
  font-family: 'Arial';
}

$green: #3ddc46;

.container {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(5, 1fr);
  box-sizing: border-box;
  width: 100%;
  gap: 1em;
}

.box-container {
  display: grid;
  gap: 1em;
  width: 300px;
  border: solid 1px lightgrey;
  background-color: white;
}

img {
  width: 100%;
  object-fit: cover;
}

.box {
  display: grid;
  padding: 1em;
  gap: 2em;
}

.title {
  font-size: 21px;
  font-weight: bold;
}

.footer {
  display: flex;
  gap: .3em;
  justify-content: end;
}

.date {
  color: $green;
}

button {
  background-color: $green;
  color: white;
  border: none;
  border-radius: 3px;
  padding: .5em;
  font-size: 18px;

  &:hover {
    background-color: lighten($green, 20%);
    cursor: pointer;
  }
}

$xl: 1600px;
$lg: 1100px;
$md: 800px;

@media (width <= $xl) {
  .container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (width <= $lg) {
  .container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (width <= $md) {
  .container {
    grid-template-columns: repeat(1, 1fr);
  }
}